<?xml version="1.0" encoding="utf-8"?>

<launch>
  
  <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->
  
    <!-- Bag file path -->
    

  <!-- Rviz visualization config file path -->
  <!-- <arg name="rviz_config_file" value="$(env HOME)/.segmap/rrt/rrt_loop_closure_multi.rviz"/> -->

  <!-- ROS parameters -->
  <rosparam>use_sim_time: false</rosparam>
  <rosparam command="load" file="$(find segmapper)/launch/rrt/rrt_loop_closure_multi2.yaml"/>
  

  <!-- rviz node -->
  <!-- <node name="visualizer" pkg="rviz" type="rviz" output="screen" respawn="$(arg respawn_value)" args="-d $(arg rviz_config_file)" /> -->
  

  <!-- octomap mapper node-->
  <node pkg="octomap_world" type="octomap_manager" name="octomap_manager1" output="screen">         
    <param name="tf_frame"  type="string" value="map"/>  
    <remap from="pointcloud"     to="/segmapper/local_map"/>      
    <param name="map_publish_frequency"  type="double" value="5.0"/>     
    <param name="resolution"  type="double" value="0.10"/>   
    <param name="sensor_max_range" type="double" value="20.0"/>   
    <param name="ignore_timestamp_mismatch" type="bool" value="true"/>         
  </node> 

  <!-- octomap server  -->
	<!-- <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />
		<param name="frame_id" type="string" value="world" />
		<param name="sensor_model/max_range" value="8.0" />
		<param name="filter_ground" value="true" />
		<remap from="cloud_in" to="/segmapper/local_map"/>    
		<remap from="projected_map" to="map" />
	</node> -->


    <!-- segmapper node -->
  <include file="$(find segmapper)/launch/segmapper.launch">
    <arg name="icp_configuration_file" value="$(find segmapper)/launch/rrt/icp_dynamic_outdoor_rrt.yaml"/>
    <arg name="icp_input_filters_file" value="$(find segmapper)/launch/rrt/input_filters_outdoor_rrt.yaml"/>
  </include>

  
	
</launch>
