<launch>

  <group ns="map_merge">
    <node pkg="map_merge_3d" type="map_merge_node" respawn="false" name="map_merge_node"  output="screen">
        <param name="robot_map_topic" value="velodyne_points" />
        <param name="robot_namespace" value="tb3" />
        <param name="merged_map_topic" value="merged_map2" />
        <param name="world_frame" value="world" />
        <param name="discovery_rate" value="0.05" />
        <param name="estimation_rate" value="0.01" />
        <param name="compositing_rate" value="0.3"/>
        <param name="publish_tf" value="true"/>
      </node> 
    </group>
  
</launch>